/* Specials.css */
.specials-section {
    padding: 40px;
    background-color: #f8f8f8;
  }
  
  .specials-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .specials-header h2 {
    flex: 1;
    font-size: 40px;
    font-weight: Medium;
    font-family: Karla;
    text-align: left;
  }
  
  .menu-button {
    background-color: #f4ce14;
    color: rgb(6, 1, 1);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-family: Roboto;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bold;
  }
  
  .menu-button:hover {
    background-color: #ff4a4a;
  }
  
  /* Specials Card Layout */
  .specials-container {
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .special-card {
    background-color: #edefee;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: left;
  }
  
  .dish-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    color: black;
  }
  
  .special-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  
  .dish-name {
    font-size: 24px;
    font-weight: medium;
    font-family: Markazi Text;
    color: black;
  }
  
  .dish-price {
    font-size: 16px;
    color: black;
    font-weight: bold;
    font-family: Karla;
  }
  
  .dish-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
    font-family: Karla;
    font-weight: Regular;
  }
  
  .order-button {
    display: flex;
    align-items: center;
    color: black;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    justify-content: flex-start;
    width: 100%;
    transition: 0.3s ease;
    font-family: Karla;
    font-weight: bold;
  }
  
  .order-button:hover {
    background-color: #ff4a4a;
  }
  
  .delivery-icon {
    width: 20px;
    margin-left: 5px;
  }  
  @media (max-width: 768px) {
    .specials-container {
      flex-direction: column; /* Stack cards vertically on small screens */
      align-items: center; 
    }
  
    .special-card {
      width: 80%; /* Make cards take up more space on mobile */
    }
  }  