/* Hero.css */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #495e57;
  }
  
  .hero-text {
    flex: 1;
    max-width: 50%;
  }
  
  .hero-title {
    font-size: 48px;
    font-weight: bold;
    color: #f4ce14;
    font-family: Mixed;
  }
  
  .hero-location {
    font-size: 28px;
    color: #f2f1f1;
    font-weight: bold;
  }
  
  .hero-description {
    font-size: 20px;
    line-height: 1.5;
    color: #f2f1f1;
    margin-bottom: 20px;
    margin-right: 30px
  }
  
  .hero-button {
    background-color: #f4ce14;
    color: rgb(11, 10, 10);
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bold;
    font-family: Roboto;
  }
  
  .hero-button:hover {
    background-color: #ff4a4a;
  }
  
  .hero-image {
    flex: 1;
    text-align: right;
    margin-left: 30px;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }  
  @media (max-width: 768px) {
    .hero-container {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-text {
      max-width: 100%;
    }
  
    .hero-image {
      margin-left: 0;
      margin-top: 20px;
      text-align: center;
    }
  
    .hero-image img {
      width: 80%; /* Adjust image size for smaller screens */
    }
  }
  